<!DOCTYPE html>
{% load static%}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/images/hotel-icon.png"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>UBU HOTEL</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet"  href="static/css/bootstrap.min.css">

    <link rel="stylesheet"  href="static/css/font-awesome.css">

    <link rel="stylesheet" href="static/css/templatemo-training-studio.css">


    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="home" class="logo">UBU<em> HOTEL</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="home" class="active">HOME</a></li>
                            <li class="scroll-to-section"><a href="#features">ROOMS</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">FOODS</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">CONTACT</a></li>
                            <li class="scroll-to-section"><a href="login">LOGIN FOR ADMIN</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="static/images/gym-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>WELCOME TO</h6>
                <h2>UBU <em>HOTEL</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#features">Scroll down</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
     <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>rooms <em>type</em></h2>
                        <img src="static/images/line-dec.png" alt="">
                        <p>Amazing Location, Great People, Good Service!</p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-1'><img src="static/images/room-icon.png" alt="">Standard</a></li>
                  <li><a href='#tabs-2'><img src="static/images/room-icon.png" alt="">Superior</a></a></li>
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-1'>
                    <img src="static/images/r1.png" alt="First Class">
                    <h4>Standard Class</h4>
                    <p>769 Baht/night/bed.</p>
                    <div class="main-button">
                        <a href="https://www.agoda.com/th-th/u-place-ubon-ratchathani-university/hotel/ubon-ratchathani-th.html?finalPriceView=0&isShowMobileAppPrice=false&cid=1826366&tag=97bd5a94-16b2-319e-333a-2fadb41e3afb&numberOfBedrooms=&familyMode=false&isAgMse=false&ccallout=false&defdate=false&voucherMode=false&adults=1&children=0&rooms=1&maxRooms=9&checkIn=2020-10-8&childAges=&defaultChildAge=8&travellerType=-1&los=1&searchrequestid=41cc56da-902f-4ec8-9d54-2238d5d3a3b5&tabbed=true">Booking</a>
                    </div>
                  </article>
                  <article id='tabs-2'>
                    <img src="static/images/r2.png" alt="Second Training">
                    <h4>Superior Class</h4>
                    <p>855 Baht/night/bed.</p>
                    <div class="main-button">
                        <a href="https://www.agoda.com/th-th/u-place-ubon-ratchathani-university/hotel/ubon-ratchathani-th.html?finalPriceView=0&isShowMobileAppPrice=false&cid=1826366&tag=97bd5a94-16b2-319e-333a-2fadb41e3afb&numberOfBedrooms=&familyMode=false&isAgMse=false&ccallout=false&defdate=false&voucherMode=false&adults=1&children=0&rooms=1&maxRooms=9&checkIn=2020-10-8&childAges=&defaultChildAge=8&travellerType=-1&los=1&searchrequestid=41cc56da-902f-4ec8-9d54-2238d5d3a3b5&tabbed=true">Booking</a>
                    </div>
                  </article>
                </section>
              </div>
            </div>
        </div>
    </section>

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>easy </em>with </em>our <em> gym</em>!</h2>
                        <p>มีเครื่องออกกำลังกายในโรงแรมให้เลือกเล่นมากมาย</p>
                        <div class="main-button scroll-to-section">
                            <a href="#our-classes">Scroll down</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>F O O D S.</em></h2>
                        <img src="static/images/line-dec.png" alt="">
                        <p>มีอาหารให้เลือกมากมาย ทั้งอาหารไทย อาหารทะเล และอื่นๆ</p>
                    </div>
                </div>
            </div>
    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="static/images/f4.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>DESSERT</span>
                            <h4>ของหวาน</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="static/images/f2.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>SAVORY FOODS</span>
                            <h4>อาหารคาว</h4>
                        </div>
                    </div>
                </div>
                {% for a in inputfoods %}
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{{a.img}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>{{a.namefood1}}</span>
                            <h4>{{a.namefood2}}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>C O N T A C T.</em></h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3851.760466568941!2d104.89873561484646!3d15.11652468947558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311684dd829bacc1%3A0xbaf958f5c7172111!2z4LmC4Lij4LiH4LmA4LmA4Lij4Lih4Lii4Li54LmA4Lie4Lil4LiqIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4reC4uOC4muC4peC4o-C4suC4iuC4mOC4suC4meC4tQ!5e0!3m2!1sth!2sth!4v1601480646599!5m2!1sth!2sth" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
            <br>
            <a href="#"><img src="static/images/fb-icon.png" alt=""></a>
            <br>
            <div class="main-button scroll-to-section">
                    <a href="https://www.facebook.com/SRkBMTs">Facebook Developer</a></div>
            <a href="#"><img src="static/images/gmail-icon.png" alt=""></a>
            <br>
            <div class="main-button scroll-to-section">
                    <a href="https://support.google.com/mail/answer/8494?co=GENIE.Platform%3DDesktop&hl=th">Gmail [mr.surakiat.ta.62@ubu.ac.th]</a>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2020 UBU HOTEL
                    - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">SURAKIAT-COMSCI62. </a></p>
                    <!-- You shall support us a little via PayPal to info@templatemo.com -->

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script>
    <script src="static/js/mixitup.js"></script>
    <script src="static/js/accordions.js"></script>

    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

  </body>
</html>